body {
    background: #000;
    margin: 0;
    padding: 0;
}

#canvas, #audio, #input {
    display: block;
    position: absolute;
}

#audio {
    left: 0;
    bottom: 0;
    width: 100%;
}

#input {
    right: 0;
    top: 0;
}